{% extends "admin/change_list.html" %}
{% load i18n static %}

{% block extrahead %}
<script type="text/javascript" src="{% static "mfa/qr.min.js" %}"></script>
{% endblock %}
{% block bodyclass %}{{ block.super }} change-list{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; Request Secrets
</div>
{% endblock %}
{% block content %}
<div id="content-main">
    <div class="module filtered" id="changelist">
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send message">
        </form>
    </div>
</div>
{% endblock %}
