{% extends "admin/change_list.html" %}
{% load i18n static %}

{% block extrahead %}
<script type="text/javascript" src="{% static "mfa/qr.min.js" %}"></script>
{% endblock %}
{% block bodyclass %}{{ block.super }} change-list{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; Submit Secrets
</div>
{% endblock %}
{% block content %}
<div id="content-main">
    <div class="module filtered" id="changelist">
        <form method="post">{% csrf_token %}
            {% for variable in secret_request.variables.all %}
                <p>
                    <label>{{ variable.name }}</label>
                    <input type="text" name="{{ variable.name }}" value="" required>
                </p>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}
