{% extends "admin/change_list.html" %}
{% load i18n static%}

{% block bodyclass %}{{ block.super }} change-list{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; Add MFA
</div>
{% endblock %}
{% block content %}
<div id="content-main">
    <div class="module filtered" id="changelist">
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Verify"></p>
        </form>
    </div>
</div>
{% endblock %}
