POSTGRES_DB=soarcast
POSTGRES_USER=soarcast
POSTGRES_PASSWORD=soarcast
POSTGRES_HOST=pgdb
POSTGRES_PORT=5432

DEBUG=1

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
USE_TLS=
USE_SSL=
EMAIL_FROM=

FRONTEND_HOST=http://127.0.0.1:8000

REDIS_USER=default
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_SSL=
REDIS_VERIFY_SSL=

VAULT_TOKEN=
VAULT_HOST=http://vault:8200
VAULT_ROOT_PATH=mission
VAULT_VERIFY_CERTIFICATE=