.secretsContainer{
    margin: 6em 3em 2em 3em;
}
.successContainer{
    display: flex;
    flex-direction: column;
}
.success{
    
    width: fit-content;
    margin: auto;
}
.title{
    color: var(--bs-green);
    font-size: large;
}